figure {
  width: 500px;
  position: relative;
}

figure img {
  width: 100%;
  vertical-align: top;
}

figure figcaption {
  font-size: 60px;
  color: #ffffff;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
}
  #left20 {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	}
  #center60 {
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 20%;
	width: 60%;
	height: 100%;
	}
  #right20 {
	border: none;
	position: absolute;
	top: 0;
	left: 80%;
	width: 20%;
	height: 100%;
	text-align: center;
	}
  iframe {
	border: none;
	height: 100%;
	width: 100%;
	}
.mplus1p {
    font-family: 'M PLUS 1p', sans-serif;
}
.Bonbon {
    font-family: 'Bonbon', cursive;
    font-size: 200%;
}
.Noto {
    font-family: 'Noto Serif JP', serif;
    font-size: 200%;
}
